.skill-div {
  height: 100px;
  width: 100px;
  padding: 8px;
  border-radius: 50%;
  position: relative;
}

.skill-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.skill-div::before {
  content: "";
  position: absolute;
  border: 2px dashed black;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: rotateBorder 10s linear infinite;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
    border-color: darkgreen;
  }
  50% {
    transform: rotate(360deg);
    border-color: rgb(18, 164, 212);
  }
  100% {
    transform: rotate(0deg);
    border-color: rgb(22, 35, 213);
  }
}
