@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

// Each section's CSS.
section {
  padding-top: 80px; /* Adjust based on header height */
  margin-top: -95px; /* Negative margin to cancel out the padding effect */
  margin-bottom: 90px;
  min-height: 100vh;
  padding-top: 80px; /* Adjust to match your navbar height */
  padding-bottom: 40px; /* Space at the bottom for breathing room */
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f0f8ff;
  color: #002d62;
}

#contact {
  margin-bottom: 0;
}

// Each section's css when it is loaded...
.section {
  opacity: 0; /* Start invisible */
  transform: translateX(-100px); /* Start off-screen to the left */
  transition: opacity 1s ease, transform 1s ease; /* Transition for smooth effect */
}

.section.visible {
  opacity: 1; /* Fade in */
  transform: translateX(0); /* Move into view */
}

// Each section heading css...
.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #002d62;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.section-heading::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #007cf0;
  position: absolute;
  left: 0;
  bottom: -5px;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
}

// Button css
.btn-style-landingPage {
  background: #002d62;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-style-landingPage:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: #43a6c6;
  transform: translateY(-3px);
}

// Font style
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.landing-page {
  min-height: 100vh;
  //   margin-top: 94px;
}

.round-image-div {
  height: auto;
  width: 100%;
}

//////////////////////////////////////// Media queries /////////////////////////////////////

.row-landingPage {
  @media screen and (min-width: 320px) {
    margin-top: 80px;
  }
}

.hello-text {
  font-size: 1.75rem; // Default size
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 400;

  @media screen and (min-width: 320px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 424px) {
    font-size: 1.75rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 1025px) {
    font-size: 2.75rem;
  }
}

.my-name {
  font-weight: bold;

  @media screen and (min-width: 320px) {
    font-size: 1.6rem;
  }
  @media screen and (min-width: 376px) {
    font-size: 1.8rem;
  }
  @media screen and (min-width: 425px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 1022px) and (max-width: 1200px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1439px) {
    font-size: 3.5rem;
  }
}

.type-animation-text {
  @media screen and (min-width: 320px) and (max-width: 376px) {
    height: 48px;
    font-size: 1.2rem;
  }

  @media screen and (min-width: 424px) and (max-width: 766px) {
    font-size: 1.4rem;
    height: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1022px) {
    font-size: 1.6rem;
    height: 65px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
    height: 50px;
  }
}
