@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

:root {
  --bg-color: #f0f8ff;
  --text-color: #002d62;
  --heading-color: #002d62;
  --btn-bg: #002d62;
  --btn-hover-bg: #43a6c6;
  --btn-hover-color: black;
  --accent-color: #002d62;
  --navbar-back: #3d7eaa;
  --navlink-text: whitesmoke;
  --navbar-logo: whitesmoke;
  --btn-git: #4a90e2;
  --project-card: #002d62;
  --bigBox-shadow: var(--accent-color);
  --btn-text: white;
  --btn-text-hover: #002d62;
}

[data-theme="dark"] {
  --bg-color: rgb(40, 40, 40);
  --text-color: rgb(210, 117, 48);
  --heading-color: rgb(210, 117, 48);
  --btn-hover-bg: rgb(210, 115, 55);
  --btn-bg: rgb(190, 100, 40);
  --btn-hover-color: darkgrey;
  --accent-color: black;
  --navbar-back: rgb(190, 100, 40);
  --navlink-text: rgb(40, 40, 40);
  --navbar-logo: rgb(40, 40, 40);
  --btn-git: rgb(225, 135, 70);
  --project-card: whitesmoke;
  --bigBox-shadow: rgba(255, 255, 255, 0.3);
  --btn-text: black;
  --btn-text-hover: white;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Each section's CSS.
section {
  padding-top: 80px; /* Adjust based on header height */
  margin-top: -95px; /* Negative margin to cancel out the padding effect */
  margin-bottom: 90px;
  min-height: 100vh;
  padding-top: 80px; /* Adjust to match your navbar height */
  padding-bottom: 40px; /* Space at the bottom for breathing room */
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#contact {
  margin-bottom: 0;
}

// FA icon style
.fa-style {
  // margin: "0 10px";
  cursor: "pointer";
  color: var(--text-color);
}

// Each section container when scrolled first time

.slide-in-container {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
}

.slide-in-container.visible {
  opacity: 1;
  transform: translateX(0);
}

// Each section heading css...
.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--heading-color);
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.section-heading::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--text-color);
  position: absolute;
  left: 0;
  bottom: -5px;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
}

// Button css
.btn-style-landingPage {
  background: var(--btn-bg);
  color: var(--btn-text);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0 3px 10px var(--navbar-back);
    color: var(--btn-text-hover);
    background-color: var(--btn-hover-bg);
    transform: translateY(-3px);
  }
}

// Font style
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.landing-page {
  min-height: 100vh;
  //   margin-top: 94px;
}

.round-image-div {
  height: auto;
  width: 100%;
}

//////////////////////////////////////// Media queries /////////////////////////////////////

.row-landingPage {
  @media screen and (min-width: 320px) {
    margin-top: 80px;
  }
}

.hello-text {
  font-size: 1.75rem; // Default size
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 400;

  @media screen and (min-width: 320px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 424px) {
    font-size: 1.75rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 1025px) {
    font-size: 2.75rem;
  }
}

.my-name {
  font-weight: bold;

  @media screen and (min-width: 320px) {
    font-size: 1.6rem;
  }
  @media screen and (min-width: 376px) {
    font-size: 1.8rem;
  }
  @media screen and (min-width: 425px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 1022px) and (max-width: 1200px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1439px) {
    font-size: 3.5rem;
  }
}

.type-animation-text {
  @media screen and (min-width: 320px) and (max-width: 376px) {
    height: 48px;
    font-size: 1.2rem;
  }

  @media screen and (min-width: 424px) and (max-width: 766px) {
    font-size: 1.4rem;
    height: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1022px) {
    font-size: 1.6rem;
    height: 65px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
    height: 50px;
  }
}

.glass-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  // transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

// .glass-image-container:hover {
//   transform: scale(1.05); /* Slight hover effect */
//   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
// }

.glass-image-frame {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.glass-image-frame:hover {
  transform: scale(1.1) rotateY(180deg);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
