.about-image {
  height: auto;
  width: 100%;
}

//Tabs css.
.custom-tabs .nav-link {
  color: #003366;
  font-weight: 500; /* Optional: make it slightly bolder */
  transition: color 0.5s ease; /* Smooth transition for hover */

  /* Hover effect */
  &:hover {
    color: darkcyan;
  }
}

// custom card border
.custom-border{
  border: 1px solid var(--text-color);
}

/* Active tab styling */
.custom-tabs .nav-link.active {
  font-weight: medium;
}
