// Card style css
.card {
  background-color: #f0f8ff;
  color: #002d62;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  height: 100%; // Ensure cards stretch to full height in the grid
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// View More on github button style.
.btn-viewGithub {
  background-color: #4a90e2;
  color: #000;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(74, 144, 226, 0.4);
  animation: pulse 1s infinite;
}

.card:hover {
  transform: translateY(-10px); /* Lifts the card slightly */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  background-color: #e6f7ff; /* Slightly change the background for a visual cue */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(74, 144, 226, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(74, 144, 226, 0);
  }
}
