.custom-navbar {
  position: fixed;
  background-color: var(--navbar-back);
  color: var(--text-color);
  text-align: center;
  z-index: 1000;
  top: 0;
  padding: 8px;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out; // Smooth transition for hiding/showing
  border-radius: 30px;

  &.hidden {
    transform: translateY(-140%); // Hide the navbar by moving it up
  }

  &.visible {
    transform: translateY(0); // Show the navbar
  }
}

.custom-navbar .nav-link {
  color: var(--navlink-text);
  font-weight: 500;
  font-size: large;
  padding-bottom: 5px;
  transition: all 0.3s;
  border-bottom: 2px solid transparent; /* Default border */
}

.navbar-logo {
  font-family: "Poppins", sans-serif; /* Choose a modern font */
  font-weight: 700; /* Bold font */
  font-size: 2rem; /* Adjust size */
  letter-spacing: 2px; /* Add spacing for elegance */
  color: #0d6efd; /* Professional blue color */
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
  cursor: pointer; /* Make it interactive */
}

.navbar-logo:hover {
  color: var(--navbar-logo); /* Darken on hover */
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); /* Enhance shadow */
}

.custom-navbar .nav-link.active {
  color: var(--navlink-text);
  border-bottom: 2px solid var(--navbar-logo); /* Underline effect */
}

.custom-navbar .nav-link:hover {
  // color: var(--navbar-logo);
  border-bottom: 2px solid var(--navbar-logo);
}

// Navbar logo.

.navbar-logo {
  font-family: "Poppins", sans-serif; /* Choose a modern font */
  font-weight: 700; /* Bold font */
  font-size: 2rem; /* Adjust size */
  letter-spacing: 2px; /* Add spacing for elegance */
  color: var(--navbar-logo); /* Professional blue color */
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
  cursor: pointer; /* Make it interactive */
}

.navbar-logo:hover {
  color: var(--navbar-logo); /* Darken on hover */
  transition: 0.5s ease-in;
}

@media screen and (max-width: 426px) {
  .navbar-logo {
    font-size: 1.5rem;
  }
}
