.custom-navbar {
  position: fixed;
  background-color: #3d7eaa;
  color: #002d62;
  text-align: center;
  z-index: 1000;
  top: 0;
  padding: 8px;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out; // Smooth transition for hiding/showing
  border-radius: 30px;

  &.hidden {
    transform: translateY(-140%); // Hide the navbar by moving it up
  }

  &.visible {
    transform: translateY(0); // Show the navbar
  }
}

.custom-navbar .nav-link {
  color: whitesmoke;
  font-weight: 500;
  font-size: large;
  padding-bottom: 5px;
  transition: all 0.3s;
  border-bottom: 2px solid transparent; /* Default border */
}

.custom-navbar .nav-link.active {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke; /* Underline effect */
}

.custom-navbar .nav-link:hover {
  color: #002d62;
  border-bottom: 2px solid #002d62;
}

// Navbar logo.

.navbar-logo {
  font-family: "Great Vibes", cursive; /* Use the cursive, signature font */
  font-size: 2rem; /* Slightly larger font size */
  color: whitesmoke; /* Primary color */
  font-weight: 200;
  // letter-spacing: 2px; /* Slightly spaced out for elegance */
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.05); /* Slight zoom on hover for effect */
  color: whitesmoke; /* Optional color change on hover */
}

@media screen and (max-width: 426px) {
  .navbar-logo {
    font-size: 1.5rem;
  }
}
